//safari hack for gradient charts
$dashboard1-gradient-path: '/dashboard/dashboard1';
$dashboard2-gradient-path: '/dashboard/dashboard2';
$dashboard3-gradient-path: '/dashboard/dashboard3';
$chartist-gradient-path: '/charts/chartist';